{
  "openapi": "3.0.1",
  "info": {
    "title": "Геймтон DatsOrange",
    "version": "v1",
    "description": "\n![image](./DatsOrange.png)\n\n**Цель геймтона:** Остаться с самым большим количеством апельсинов в результате операций купли-продажи на бирже. \n\n  Командам предоставляется:\n  1. Биржа, на которой можно разместить заявки в определенное время.\n  2. Инструменты для торговли. \n  3. Стартовый баланс в апельсинах.\n  4. Новости, которые помогут строить прогнозы на рынке.\n  5. API. \n  \n  # Биржа\n\n  Биржа работает (UTC+03:00):\n    \n  - 15.09.2023 с 17:00 до 22:00;\n  - 16.09.2023 с 10:00 до 22:00. \n  \n  Во время перерыва сервер не обрабатывает заказы игроков, все действия останавливаются.\n  \n  На бирже есть компании с акциями, с течением времени добавляются новые компании. На стоимость компании, как и в реальном мире, влияют разные новостные события. \n\n  # Инструменты\n\n  Участники могут:\n  \n  - выставлять лимитные заявки на покупку/продажу с указанием желаемой цены;\n  - продать/купить мгновенно по лучшей цене, которая сейчас есть в заявках на бирже.\n\nЛимитные заявки действуют 1 минуту, и если не было желающих купить/продать по этой цене, через минуту они отклоняются.\n\n  # Стартовый баланс\n  \n  Наша валюта - это Апельсины 🍊🍊🍊.\n\n  У каждого участника есть начальный баланс в апельсинах = 10000. Командам необходимо увеличить это количество. Стартовые апельсины при подсчете итогового результата учитываться не будут. \n  \n  Например, в конце игры у вас на балансе 15000 апельсинов, значит ваш итог = 5000 (15000 - 10000).\n\n# Новости\nНа стоимость акций компании влияют происходящие в мире события. Новости содержат полезную информацию, а также список компаний, которые подвержены влиянию. \n\n  Пример новостей:\n  - -15% \"Лесной пожар уничтожил посевные, и урожай в этом году будет значительно меньше\".\n  - +20% \"Правительство приняло закон о криптовалюте, бизнес может проводить операции в крипте.\"\n\n  Где:\n   - “+/-” - позитивное или негативное влияние,\n   -  “15%” - прогнозный процент влияния новости на компании.\n\n  Процентные показатели являются прогнозными. \n\n  Новости также могут оповещать о других событиях. Следите за новостями.\n  \n# Кто победит\n\n  Победит активный участник рынка (не менее 100 заявок), у которого на момент закрытия биржи 16го числа останется самое большое положительное число апельсинов за вычетом стартового начисления от биржи.\n\n  За результатами команд можно следить на нашем новостном ресурсе по ссылке - https://datsteam.dev/datsorange/scene.\n  \n  Текущий баланс на сайте - это приблизительное число, которое показывает сколько примерно апельсинов будет в случае продажи всех активов прямо сейчас. Однако в случае фактической продажи итог будет зависеть от спроса, поведения других игроков, поэтому не рекомендуем оставлять на самый последний момент выход в апельсины 🍊🍊🍊.\n  \n  \n\n\n\n  # API\n  \n  \n  Вы уже получили свой токен при регистрации, это означает, что в каждый запрос необходимо добавлять заголовок ‘token’ с отправленным вам значением.\n  \n  "
  },
  "servers": [
    {
      "url": "https://datsorange.devteam.games"
    }
  ],
  "paths": {
    "/RemoveBid": {
      "post": {
        "tags": [
          "place-bid-controller"
        ],
        "summary": "Отменяет заявку",
        "operationId": "removeBid",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBidReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/LimitPriceSell": {
      "post": {
        "tags": [
          "place-bid-controller"
        ],
        "summary": "Размещает заявку на продажу по цене не менее установленной",
        "operationId": "placeLimitPriceSellBid",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LimitPriceBidReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BidResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/LimitPriceBuy": {
      "post": {
        "tags": [
          "place-bid-controller"
        ],
        "summary": "Размещает заявку на покупку по цене не более установленной",
        "operationId": "placeLimitPriceBuyBid",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LimitPriceBidReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BidResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BestPriceSell": {
      "post": {
        "tags": [
          "place-bid-controller"
        ],
        "summary": "Размещает заявку на продажу по 'лучшей цене'",
        "operationId": "placeBestPriceSellBid",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BestPriceBidReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BidResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BestPriceBuy": {
      "post": {
        "tags": [
          "place-bid-controller"
        ],
        "summary": "Размещает заявку на покупку по 'лучшей цене'",
        "operationId": "placeBestPriceBuyBid",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BestPriceBidReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BidResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sellStock": {
      "get": {
        "tags": [
          "stock-info"
        ],
        "summary": "Заявки на продажу",
        "description": "Возвращает количество активных заявок и их цену",
        "operationId": "getSellStockBySymbolId",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Токен доступа",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockResp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/news/LatestNews": {
      "get": {
        "tags": [
          "news-controller"
        ],
        "summary": "Возвращает последнюю новость",
        "operationId": "getLatestNews",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/LatestNews5Minutes": {
      "get": {
        "tags": [
          "news-controller"
        ],
        "summary": "Возвращает новости за последние 5 минут",
        "operationId": "getLatestNews5",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NewsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/news/LatestNews1Minute": {
      "get": {
        "tags": [
          "news-controller"
        ],
        "summary": "Возвращает новости за последнюю минуту",
        "operationId": "getLatestNews1",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NewsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/info": {
      "get": {
        "tags": [
          "info-controller"
        ],
        "summary": "Информация о счете",
        "operationId": "accountInfo",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getSymbols": {
      "get": {
        "tags": [
          "stock-info"
        ],
        "summary": "Список всех активов",
        "description": "Возвращает список всех возможных активов",
        "operationId": "getsymbols",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Токен доступа",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SymbolsResp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/buyStock": {
      "get": {
        "tags": [
          "stock-info"
        ],
        "summary": "Заявки на покупку",
        "description": "Возвращает количество активных заявок и их цену",
        "operationId": "getBuyStockBySymbolId",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Токен доступа",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockResp"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RemoveBidReq": {
        "type": "object",
        "properties": {
          "bidId": {
            "type": "integer",
            "description": "id заявки",
            "format": "int64",
            "example": 1
          }
        }
      },
      "LimitPriceBidReq": {
        "type": "object",
        "properties": {
          "symbolId": {
            "minimum": 2,
            "type": "integer",
            "description": "id актива",
            "format": "int64",
            "example": 2
          },
          "price": {
            "minimum": 1,
            "type": "integer",
            "description": "цена",
            "format": "int64",
            "example": 100
          },
          "quantity": {
            "minimum": 1,
            "type": "integer",
            "description": "количество",
            "format": "int32",
            "example": 1
          }
        }
      },
      "BidResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Сообщение",
            "example": "Ok"
          },
          "bidId": {
            "type": "integer",
            "description": "id заявки",
            "format": "int64",
            "example": 1
          },
          "price": {
            "type": "integer",
            "description": "цена покупки/продажи",
            "format": "int64",
            "example": 100
          }
        }
      },
      "BestPriceBidReq": {
        "type": "object",
        "properties": {
          "symbolId": {
            "minimum": 2,
            "type": "integer",
            "description": "id актива",
            "format": "int64",
            "example": 2
          },
          "quantity": {
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "description": "требуемое количество",
            "format": "int32",
            "example": 100
          }
        }
      },
      "BidStat": {
        "type": "object",
        "properties": {
          "price": {
            "type": "integer",
            "description": "Цена",
            "format": "int64",
            "example": 100
          },
          "quantity": {
            "type": "integer",
            "description": "Количество заявок",
            "format": "int32",
            "example": 500
          }
        },
        "description": "Заявки"
      },
      "StockResp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "id",
            "format": "int64",
            "example": 2
          },
          "ticker": {
            "type": "string",
            "description": "Тикер",
            "example": "Oranges/Rocks"
          },
          "bids": {
            "type": "array",
            "description": "Заявки",
            "items": {
              "$ref": "#/components/schemas/BidStat"
            }
          }
        }
      },
      "NewsResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Дата-время новости",
            "format": "date-time"
          },
          "text": {
            "type": "string",
            "description": "Текст новости",
            "example": "Текст новости"
          },
          "rate": {
            "type": "integer",
            "description": "Предполагаемое влияние",
            "format": "int32",
            "example": -30
          },
          "companiesAffected": {
            "type": "array",
            "description": "Список затронутых компаний",
            "items": {
              "type": "string",
              "description": "Список затронутых компаний"
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "id аккаунта",
            "format": "int64",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Имя",
            "example": "Имя"
          }
        }
      },
      "AssetResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "id актива",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "Имя актива"
          },
          "quantity": {
            "type": "integer",
            "description": "Количество",
            "format": "int64"
          }
        },
        "description": "замороженные активы"
      },
      "InfoResponse": {
        "type": "object",
        "properties": {
          "bidId": {
            "$ref": "#/components/schemas/Account"
          },
          "bids": {
            "uniqueItems": true,
            "type": "array",
            "description": "активные заявки",
            "items": {
              "$ref": "#/components/schemas/LimitPriceBid"
            }
          },
          "assets": {
            "type": "array",
            "description": "замороженные активы",
            "items": {
              "$ref": "#/components/schemas/AssetResponse"
            }
          }
        }
      },
      "LimitPriceBid": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "account": {
            "$ref": "#/components/schemas/Account"
          },
          "symbolId": {
            "type": "integer",
            "format": "int64"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "активные заявки"
      },
      "SymbolsResp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "id актива",
            "format": "int64",
            "example": 1
          },
          "ticker": {
            "type": "string",
            "description": "текстовое представление",
            "example": "rub/dats"
          }
        }
      }
    }
  }
}
